In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
import os
path = os.getcwd()
print(path)

/Users/MinaChoi

In [3]:
os.chdir('/Users/MinaChoi/Desktop/EDM data')
path = os.getcwd()
print(path)

/Users/MinaChoi/Desktop/EDM data

In [4]:
import networkx as nx
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
SNAdata = pd.read_csv("ICE8_Data.csv", index_col = 0)
G = nx.Graph(SNAdata)

In [8]:
SNAdata = pd.read_csv("ICE8_Data.csv", index_col = 0)
G = nx.Graph(SNAdata)

In [9]:
density = nx.density(G)

print('The edge density is: %.3f' % (density))

The edge density is: 0.415

In [10]:
degree = nx.degree(G)
degree

DegreeView({'Nicolas Dussaillant': 3, 'Ming Chen': 5, 'Rebecca': 9, 'Nikita Tejwani': 8, 'Simon Chen': 3, 'Pooja Addla': 12, 'honglin': 4, 'Karl': 4, 'sicheng xu': 11, 'Jianan Dingqian': 10, 'Siyu Lin': 12, 'Ziqing Yuan': 11, 'Jingfei Chen': 8, 'Mina Choi': 7, 'Cleo You': 2, 'Deji': 6, 'Kan Yamane': 10, 'YUNWEI ZHANG': 11, 'Madeline': 6})

In [11]:
pd.DataFrame(degree)

                      0   1
0   Nicolas Dussaillant   3
1             Ming Chen   5
2               Rebecca   9
3        Nikita Tejwani   8
4            Simon Chen   3
5           Pooja Addla  12
6               honglin   4
7                  Karl   4
8            sicheng xu  11
9       Jianan Dingqian  10
10             Siyu Lin  12
11          Ziqing Yuan  11
12         Jingfei Chen   8
13            Mina Choi   7
14             Cleo You   2
15                 Deji   6
16           Kan Yamane  10
17         YUNWEI ZHANG  11
18             Madeline   6

In [12]:
close = nx.closeness_centrality(G)
pd.DataFrame.from_dict(close, orient = 'index')

                            0
Nicolas Dussaillant  0.529412
Ming Chen            0.514286
Rebecca              0.642857
Nikita Tejwani       0.620690
Simon Chen           0.428571
Pooja Addla          0.750000
honglin              0.500000
Karl                 0.500000
sicheng xu           0.692308
Jianan Dingqian      0.666667
Siyu Lin             0.720000
Ziqing Yuan          0.692308
Jingfei Chen         0.529412
Mina Choi            0.529412
Cleo You             0.367347
Deji                 0.486486
Kan Yamane           0.666667
YUNWEI ZHANG         0.692308
Madeline             0.545455

In [14]:
from networkx.algorithms.community.modularity_max import greedy_modularity_communities

c = list(greedy_modularity_communities(G))

print(len(c))

2

In [26]:
np.random.seed(123)

In [25]:
np.random.seed(123)

The edge density is: 0.415